* {
    padding: 0 ;
    margin:0;
}
*{
    box-sizing: border-box;
    margin:0px;

}

#nav_drawer {
    float: right;
    width: 100px;
    height: 150px;
    overflow: hidden;
    background-color: powderblue;
}

#logo_navbar {

    width: 100px;
    float: right;
   

}
#container h1 {
    text-align: center;
}

#container p{
    width: 50%;
    margin: 0 auto;
    font-size: 20px;

}
#form_registrarse {
    width: 250px;
    margin: 0 auto;
}

#form_registrarse input {
    display:block;
    margin-top: 20px;
    font-size: 25px;
    width: 100%;
}
  

#buttonreg_nav {
    float: right;
    margin-top: 50px;
    margin-right: 50px;
    text-decoration: none;
    color:black
    
    }

#container h2 {
    text-align: center;
}






